<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ae.netaq.homesorder_vendor">

    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activities.sign_in.SignInActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="locale" />
        <activity android:name=".activities.OrderDetailActivity" />
        <activity android:name=".activities.product_detail.ProductDetailActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity
            android:name=".activities.update_profile.UpdateProfileActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activities.product_edit.ImagesEditActivity"/>
        <activity
            android:name=".activities.AddNewProductActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.register.RegisterActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activities.product_edit.ProductEditActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".activities.country_area_selection.SelectCountryActivity" />
        <activity android:name=".activities.AreaSelectionUAE"></activity>
        <activity android:name=".activities.country_area_selection.AreaSelectionKSA"></activity>
        <activity android:name=".activities.product_promotion.ProductPromotionActivity"/>

        <service
            android:name=".network.services.ProductUpdateService"
            android:exported="false" />
    </application>

</manifest>